html {
    box-sizing: border-box;
}

body {
    font-family: "Averta CY", sans-serif;
    font-style: normal;
    font-weight: 300;
    margin: 0;
    overflow: hidden;
    background: url(../img/shutterstock_1530031901.png) 100% 100% no-repeat fixed;
    background-size: cover;
}

.container {
    background-image: linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(218,235,234) 100%);
    background-image: -moz-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(218,235,234) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(218,235,234) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(218,235,234) 100%);
    box-shadow: 0px 3px 100px 0px rgba(90, 92, 118, 0.35);
    width: 80vw;
    height: 90vh;
    margin: 5vh auto;
    z-index: 5;
    position: relative;
    width: 90vw;
}

a {
    text-decoration: none;
    color: #1f5bff;
}

h1, h2 {
    font-weight: 300;
}

h1 {
    font-size: 25px;
}

h4 {
    color: #1f5bff;
}

p > span {
    color: #1f5bff;
}

.hide {
    display: none;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-size: 0.9em;
    margin-left: auto;
    margin-right: auto;
}

 #start.container img,
 #result.container img {
    position: absolute;
}

 .overflow {
    position: absolute;
    overflow: hidden
}

img[src*="house"] {
    width: 300px;
    height: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
}

img[src*="middle_branch"] {
    width: 70px;
    left: 10px;
    top: 17%;
}

 [id^=result] img[src*="middle_branch"] {
    width: 50px;
    transform: rotate(180deg);
    top: 25%;
    right: 614px;
}

.overflow.middle_branch {
    right: 555px;
    width: 69px;
    height: 89px;
    top: 25%;
}

img[src*="small_branch"] {
    width: 6.5vw;
    left: 14%;
    top: 4%;
}

[id^=result] img[src*="small_branch"] {
    width: 45px;
    left: 0.5%;
    top: -15%;  
    transform: rotate(177deg);
}

.overflow.small_branch {
    width: 50px;
    height: 80px;
}

img[src*="top_right_branch"] {
    width: 130px;
    right: -11px;
    top: -8px;
    transform: rotate(-5deg);
}

[id^=result] img[src*="top_right_branch"] {
    width: 72px;
    top: 0px;
    transform: rotate(2deg);
}

.overflow.top_right_branch {
    width: 130px;
    height: 126px;
    top: 0;
    right: 0;
}

img[src*="candy"] {
    height: 30px;
    right: 10%;
    top: 21%;
}

img[src*="santa"] {
    width: 110px;
    left: -30px;
    bottom: -40px
}

.overflow.santa {
    width: 110px;
    height: 125px;
    left: 0px;
    bottom: 0px;
}

img[src*="bottom_tree"] {
    width: 100px;
    right: 20px;
    bottom: -10px;
}

.overflow.bottom_tree {
    width: 120px;
    right: 12px;
    bottom: 0px;
    height: 171px;
}

img[src*="gift"] {
    width: 45px;
    top: 26%;
    right: -10px;
}

.overflow.gift {
    width: 45px;
    height: 75px;
    top: 26%;
    right: 0;
}

#start .text {
    width: 65vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 35vh;
}

button.button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    outline: none
 }

.button, 
.result_button {
    background-color: #1f5bff;
    color: white;
    font-size: 16px;
    border-radius: 50px;
    border: solid transparent;
 }

 .result_button {
    margin-left: auto;
    margin-right: auto;
    padding: 15px 55px;
 }

#start button {
    width: 180px;
    height: 9vh;
    margin-top: 45px;
}

button:disabled {
    background-color: #d3d4e4;
    cursor: not-allowed;
}

.tab {
    overflow: hidden;
  }
  
  .tabcontent {
    display: none;
  }
  
#result_1,
#result_2,
#result_3,
#result_4,
#result_5,
#result_6,
#result_7 {
    display: none;
  }

[id^="result"] img:not(.result_img) {
    position: absolute;
}

  .tabcontent {
    animation: mymove 0.7s;
 }
  
  @keyframes mymove {
    from {left: 200px;}
    to {left: 0px;}
  }

  .item img {
      width: 100px;
  }

input {
    display: none;
}

.checked + img {
   opacity: 0.2;
    
}

.image_overlay  {
    box-shadow: inset -8em 5em 0em 5em #1c66eec5;
    border: -5px;
    width: 100px;
    height: 100px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    z-index: 100;
    opacity: 0.9999;
    cursor: url(../img/cursor.png), default;
}

.question .wrapper {
    width: 80vh;
}

.question h2 {
    text-align: center;
    padding: 25px 0px;
    position: relative;
}

.question h2::after {
    content: "";
    border-bottom: 1.5px solid #1f5bff;
    width: 56vw;
    display: block;
    margin: 20px auto 0px;
}

#step_3.question h2 {
    text-align: center;
    padding: 15px 0px;
    position: relative;
    margin: 0
}

.question p {
    font-size: 0.8em;
}

.item input {
    position: relative;
}

.item {
    width: 45%;
}

#step_3 .item {
    width: 17%;
    margin: 15px;
}

.button_container {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 10px;
    right: 3%;
}

.button_item {
    justify-self: right;
    height: 6vh;
    margin: 5px;
}

.button_item.back {
    width: 100px;
    background-color: #d3d4e4;
}

.button_item.back:hover {
    background-color: #1f5bff;
}

.button_item.next {
    width: 120px;
    margin-left: 10px;
}

.button_item.back:hover,
.button_item.next:hover:enabled {
    cursor: pointer;
}

.result .wrapper {
    width: 70vh;
}

.result h1  {
    margin: 23px;
}

.result_img, .result .text {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.result_img {
    width: 70vw;
}

.result .text {
    width: 80vw;
}

.result .text h4,
.result .text p {
    text-align: left;
}

.result_button_container {
    width: 60vw;
    margin: 1vh auto;
}

.result_button_container p {
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 30px;
}

.result_button_container button {
    height: 8vh;
    width: 200px;
    font-size: 0.9em;
}

@media screen and (min-width: 600px) {
    #start .text {
        width: 400px;
    }
    #start button {
        width: 250px;
    }
    img[src*="house"] {
        width: 400px;
        top: -2%;
    }
    img[src*="santa"] {
        width: 119px;
    }
    #start h1 {
        font-size: 35px;
    }
    #start .text {
        padding-top: 37vh
    }
    img[src*="small_branch"] {
        width: 45px;
        left: 16%;
        top: 4%;
    }

    img[src*="candy"] {
    right: 14%;
    top: 28%;
    }

    .item {
        width: 28%;
        margin: 12px;
    }

    #step_2 .wrapper,
    .step_4 .wrapper {
        justify-content: space-evenly;
    }


    .question p {
        font-size: 0.9em;
    }
}

@media screen and (min-width: 680px) {
    .container {
        width: 600px;
    }


    #start .text {
        width: 450px;
    }
    #start h1 {
        font-size: 40px;
    }

    img[src*="middle_branch"] {
        width: 90px;
        left: 17px;
        top: 22%;
    }
    
    .question .wrapper {
        width: 95vh;
    }

    .question h2::after {
        width: 400px;
    }
    .result .wrapper, 
    .result .text  {
        width: 500px;
    }
    .result_button_container {
        width: 40vw;
    }





    img.result_img {
        width: 500px;
    }
}


@media screen and (min-width: 1162px) {
    .container {
        width: 700px;
    }


    
    img[src*="house"] {
        width: 450px;
    }


    
}